@model EditGigFormViewModel

@{
    ViewData["Title"] = "Edit Gig";
}

<h2 class="display-5">Edit Gig</h2>

<div class="row">

    <form enctype="multipart/form-data" asp-controller="Gigs" asp-action="Edit" role="form" method="post">
        
        <input type="hidden" asp-for="Gig.ArtistId"/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Gig.Venue"></label>
            <input type="text" asp-for="Gig.Venue" class="form-control" />
            <span asp-validation-for="Gig.Venue" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date"></label>
            <input type="text" asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Time"></label>
            <input type="text" asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gig.GenreId"></label>
            <select asp-for="Gig.GenreId" class="form-control" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">
                <option>Select a Genre</option>
            </select>
            <span asp-validation-for="Gig.GenreId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Photo"></label>
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input" />
                <label class="custom-file-label">No Picture selected...</label>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Edit gig details &raquo;</button> <a asp-action="MyUpcomingGigs">Cancel</a>


    </form>

</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function ()
        {
            $('.custom-file-input').on('change', function ()
            {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}