@model IEnumerable<Gig>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find the next event You'll want to attend</h1>
</div>

<h6 class="display-5">Latest Gigs</h6>
<h6 class="display-5">Upcoming Gigs</h6>
<ul>
    @foreach (var gig in Model)
    {
        <li>@gig.DateTime.ToShortDateString() - @gig.Artist.Name</li>
    }
</ul>